<html>
<head><title>Feature Requests</title>
    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--    Moment JS-->
    <script type="application/javascript" src="{{ url_for('static', filename='bower_components/moment/moment.js') }}"></script>

    <!--    Datetimepicker-->
    <script type="application/javascript" src="{{ url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}">

    <!--    KnockoutJS-->
    <script type="application/javascript" src="{{ url_for('static', filename='js/knockout-3.3.0.debug.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/knockout.mapping-latest.debug.js') }}"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.css">
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            function Option(data) {
                this.value = ko.observable(data.id);
                this.text = ko.observable(data.name);
            }

            function viewModel() {
                var self = this;
                self.clients = ko.observableArray([]);
                self.clientList = ko.observable();
                self.priorities = ko.observableArray([]);
                self.products = ko.observableArray([]);

                $.getJSON("{{ url_for('get_clients') }}", function (data) {
                    console.log(data);
                    data = data.clients
                    var mappedTasks = $.map(data, function (item) {
                        return new Option(item)
                    });
                    console.log(mappedTasks);
                    self.clients(mappedTasks);
                });

                self.clientList.subscribe(function (selected) {
                    console.log("clientList");
                    console.log(selected);
                    var apiUrl = "{{ url_for('index') }}" + "api/priorities/" + selected;
                    $.getJSON(apiUrl, function (data) {
                        data = data.priorities
                        var mappedTasks = $.map(data, function (item) {
                            return new Option(item)
                        });
                        self.priorities(mappedTasks);
                    });
                }, self);

                $.getJSON("{{ url_for('get_products') }}", function (data) {
//                alert(data);
                    console.log(data);
                    data = data.products
                    var mappedTasks = $.map(data, function (item) {
                        return new Option(item)
                    });
                    self.products(mappedTasks);
                });

            }


            ko.applyBindings(new viewModel());

        });
    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            var dateNow = new Date();
            $('#datepicker').datetimepicker({
                format: 'YYYY-MM-DD',
                defaultDate:dateNow
            });

            oTable = $("#table").DataTable({
                "processing": true,
                "serverSide": false,
                "ajax": {
                    "url": "{{ url_for('get_requests') }}",
                    "dataSrc": function ( json ) {
                      console.log("HELLO");
                      data = json.requests;
                      console.log(data);
                      for(i in data){
                        data[i].target_date = new Date(data[i].target_date).toDateString();
                      }
                      return data;
                    }
                },
                // "ajax": "./api/requests.php/requests/datatable",
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [3],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [6],
                        "visible": false
                    }
                ],
                "columns": [
                    { "data": "id" },
                    { "data": "title" },
                    { "data": "description" },
                    { "data": "client_id" },
                    { "data": "priority" },
                    { "data": "target_date" },
                    { "data": "product_id" },
                    { "data": "client.name" },
                    { "data": "product.name" }
                  ]
            });

        });
    </script>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Feature Request App</a>
    </div>
    <ul class="nav navbar-nav">
    {% if title == 'home' %}
      <li class="active"><a href="/">Create Request</a></li>
      <li><a href="/view">View Submitted Requests</a></li>
    {% else %}
      <li><a href="/">Create Request</a></li>
      <li class="active"><a href="/view">View Submitted Requests</a></li>
    {% endif %}
    </ul>
  </div>
</nav>
<div class="container-fluid">
    {% if title == 'home' %}
    <div class="text-center col-md-4 col-md-offset-4">
        <h1>Feature Request</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form action="api/request/" method="post" role="form">
            <input type="hidden" name="action" value="addNewFeatureRequest"/>

            <div class="row">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" required/>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="client">Client</label>
                    <select name="client"
                            data-bind="value: clientList, options: clients, optionsText:'text', optionsValue:'value'"
                            class="form-control">

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="priority">Client Priority</label>
                    <select name="priority"
                            data-bind="options: priorities, optionsText:'text', optionsValue:'value'"
                            class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="date">Target Date:</label>
                    <div class='input-group date' id='datepicker'>
                        <input type='text' name="date" class="form-control" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="nama">Product Area</label>
                    <select name="product"
                            data-bind="options: products, optionsText:'text', optionsValue:'value'"
                            class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="" display: block>
                        <br/>
                        <input type="submit" class="form-login btn btn-md btn-primary btn-block"/>
                    </div>
                </div>
            </div>

        </form>
    </div>
    {% else %}
    <div class="text-center col-md-12">
        <hr>
        <h2>Requests Submitted</h2>
    </div>

    <div class="text-center col-md-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Desc</th>
                <th>client_id</th>
                <th>Priority</th>
                <th>Target Date</th>
                <th>product_id</th>
                <th>Client</th>
                <th>Product</th>
            </tr>
            </thead>
        </table>

    </div>
    {% endif %}


</div>


</body>
</html>
